<div class='fadingin'>
    <div class='experience'>
      <div class='center-in'>
        <a routerLink="studies" routerLinkActive="active">
          <div id="imageLandscape">
            <img id="ispik" src="../../../../assets/img/praktyki.jpg" alt="ispik"/>
          </div>
        </a>
        <div class='vertical-row'></div>
        <div class='cv'>
          <p>Doświadczenie:</p>
            <li>Loyalty Program Manager: operating software platform - full system set up: documentation, configuration, reports automation with python and pandas, data acquisition from database with postgreSQL, Oracle and using Microsoft VBA<br>
            <li>Infrastructure Engineer: troubleshooting aplikacji, analiza i rozwiązywanie problemów systemów Windows<br>
            <li>Tester manualny: testy aplikacji z narzędziem Katalon, tworzenie raportów MSSQL Server <br>
          
        </div>
      </div>
    </div>
  </div>