@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

html {
  background-color: white;
}

progress[value] {
    z-index: 1;
    -webkit-appearance: none;
    appearance: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10px;
}

.parallax {
    /* The image used */
    /*background-image: url("../img/tlostrony2.jpg");*/
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position: 0 1px;
    background-repeat: no-repeat;
    background-size: cover;
}
#loadersmall {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  width:100%;
}
#overlay {
  display: none;
  background-color:#fff;
  z-index: -1;
  position: relative;
}
progress[value]::-webkit-progress-bar {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-30deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, rgb(1,31,57));
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

body {
  margin: 0;
  color: #26242b;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #555;
}

.vertical-row {
  visibility: hidden;
}

.cv {
  vertical-align: middle;
  margin: auto;
  max-width: 60%;
  font-size: 1.1em;
  text-align: left;
  /* display: inline-block;  */
}

.center-in {
  margin: auto;
  width: 90%;
  text-align: center;
  border: 0px solid green;
}

img {
  margin: auto;
  width: 100%;
  position: relative;
  z-index: -2;
}
div#image {
  display: inline-block;
  margin: 10%;
  width: 60%;
  box-shadow: 0 0 20px 20px white inset;
}
div#imageLandscape {
  display: inline-block;
  margin: 10%;
  width: 60%;
  /*box-shadow: 0 0 20px 20px white inset;*/
}

@media only screen and (min-width: 700px) {
  .vertical-row {
    vertical-align: middle;
    visibility: visible;
    min-height: 15em;
    padding: auto;
    width: 2px;
    background-color: grey;
    display: inline-block;
  }
  .cv {
    margin: 5%;
    font-size: 1.5vw;
    max-width: 40%;
    border: 0px solid red;
  }
  div#image {
    vertical-align: middle;
    display: inline-block;
    width: 20%;
    height: auto;
    margin: 5%;
  }
  div#imageLandscape {
    vertical-align: middle;
    width: 30%;
    height: auto;
    margin: 5%;
    display: inline-block;
  }
}

.fadingin
{
  opacity: 0.2;
  overflow: auto;
  width: 100%;
}

#header {
  color: white;
  padding: 15px;
  font-size: 3vw;
  position: absolute;
  top: 25vw;
  left: 10%;
}

.up {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}

.container {
  text-align: center;
  width: 100%;
  margin: 0;
}

#footer {
  clear: both;
  font-size: 1.8vw;
  position: relative;
  z-index: 10;
}
