<div class='fadingin'>
    <div class='skills'>
      <div class='center-in'>
        <a routerLink="hobbies" routerLinkActive="active">
          <div id="imageLandscape">
            <img id="notebook" src="../../../../assets/img/notebook1.jpg" alt="notebook"/>
          </div>
        </a>
        <div class='vertical-row'></div>
        <div class='cv'>
          <p>Umiejętności:</p>
          •Języki obce angielski (zaawansowany)<br>
          •Python (basics), selenium, pandas, numpy, flask<br>
          •SQL, postgreSQL, Oracle, Postman, SoapUI
        </div>
      </div>
    </div>
  </div>