<a routerLink="home" routerLinkActive="active">
  <div class='footer'>
    <div class='container'>
        <a href="https://github.com/blabro/blabro.github.io" target="_blank" rel="noopener noreferrer" id="footer">
          Link do źródła!
        </a>
    </div>
    <div class='container' style="position:relative" scroll-Container>
      
        
          <img src="../../../../assets/img/tlostronyfoot.jpg" alt="tlostrony.jpg"/>
          <div class="up">W górę</div>
        
    </div>
  </div>
</a>