<div class='fadingin'>
    <div class='contact'>
      <div class='center-in'>
        <div class='cv'>
          <p>Broncel Błażej </p>
          Adres zamieszkania: <br>
          43-100 Tychy <br>
          Zelwerowicza 14a <br>
          Data urodzenia: 25.05.1994r.<br>
          Telefon: <a href="tel:792535551">792535551</a><br>
          E-mail: <a href="mailto:blazej.broncel@gmail.com">blazej.broncel@gmail.com</a>
        </div>
        <div class='vertical-row'></div>
        <a routerLink="experience" routerLinkActive="active">
          <div id="image">
            <img id="moje" src="../../../../assets/img/ja.png" alt="moje"/>
          </div>
        </a>
      </div>
    </div>
  </div>
