<div class='fadingin'>
    <div class='studies'>
      <div class='center-in'>
        <div class='cv'>
          <p>Wykształcenie:</p>
          2013 – 2018 <br>
          •Politechnika Śląska,
          Wydział Automatyki, Elektroniki i Informatyki,
          kierunek: makrokierunek (automatyka i&#160;robotyka, elektronika i&#160;telekomunikacja, informatyka) w&#160;języku angielskim,
          tryb: stacjonarne<br>
          IX 2010 – VI 2013 <br>
          •I Liceum Ogólnokształcące
          im. Leona Kruczkowskiego w Tychach
        </div>
        <div class='vertical-row'></div>
        <a routerLink="skills" routerLinkActive="active">
          <div id="imageLandscape">
            <img id="politechnika" src="../../../../assets/img/politechnika.jpg" alt="politechnika"/>
          </div>
        </a>
      </div>
    </div>
  </div>